*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
}
a{
        text-decoration: none;
}
/* Hero Section */
.hero-section{
background-color: rgba(35, 189, 238,0.7);
display: flex;
justify-content: center;
overflow: hidden;
}

.medium-orange-col{
    color: #F48C06;

}
.bg-white-30{
    background-color: rgba(255, 255, 255,0.3);
}
.bg-white-30:hover{
    background-color: rgba(255, 255, 255,0.3);
}


    /* privileges section */
.privileges-section{
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards{
    display: flex;
    justify-content:center ;
    flex-wrap:wrap;
}
.card{
    margin: 50px 20px;
}
.privileges-section .cards .card{
    max-width: 300px;
    color: black;
}
.card:nth-child(2) .card-icon{
    background-color: #5B72EE;
}
.card:nth-child(3) .card-icon{
    background-color: #00CBB8;
}
.card-icon{
    color: white;
    width: 100px;
    height: 100px;
    background-color: #4ecdc4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -50px;
    border-radius: 50%;
}
.dark_blue_col{
    color: #2F327D;
}
.Teal-col{
    color: #00CBB8;
}
    

/* About section */
.about-cards .card:first-child,.about-cards .card:nth-child(2){
    min-height: 20rem;
background:  
    linear-gradient(to right, rgba(23, 27, 65,0.2), rgba(23, 27, 65,0.2) ),
    url('../../assets/images/Home/Rectangle\ 19.png') center/cover no-repeat;
}
.about-cards .card:nth-child(2){
    background:  
    linear-gradient(to right, rgba(23, 27, 65,0.2), rgba(23, 27, 65,0.2) ),
    url('../../assets/images/Home/Group\ 23.png') center/cover no-repeat;
}
.about-cards .card:nth-child(2) button{
    background-color: rgba(35, 189, 238,0.8);
}
.about-cards .card button{
    background-color: transparent;
}