input:-webkit-autofill {
    outline: none !important;
    box-shadow: none !important;
  transition: background-color 5000s ease-in-out 0s; /* prevent override */
}
label{
    color: black;
    margin-bottom: 15px;
}
.Teal-bor-col{
    border-color:#49BBBD;
}